body{
    background-image: url('assets/Dailyquotesbg.png');
    background-position: center center; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#textboxcontainer{
    background-color: transparent;
    width: 100%;
    flex: 8;
    display: flex;
    align-items:center;
    justify-content: center;
}

#buttonscontainer{
    background-color: transparent;
    width: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textbox{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    padding: 10px;
    border-radius: 2.5rem;
    box-shadow: 4px 4px 10px -4px black;
}

#text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-wrap: wrap;
}

#image-refresh, #image-share{
    cursor: pointer;
    width: 50px;
    margin: 150px;
    padding: 10px;
    border-radius: 20rem;
}

#image-refresh:hover,#image-share:hover{
    opacity: 50%;
}

#image-share{
    width: 40px;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    body{
        background-color: transparent; 
        background-image: url('assets/Dailyquotesbg.png');
        width: 100%; 
      }
      #textboxcontainer{
        width: 100%;
         flex: 8;
      }
    #buttonscontainer{
        width: 100%;
        flex: 2;
    }
    #textbox{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 200px;
        padding: 10px;
        border-radius: 2.5rem;
        box-shadow: 4px 4px 10px -4px black;
    }

    #image-refresh, #image-share{
        cursor: pointer;
        width: 50px;
        margin: 40px;
        padding: 10px;
    }

    #image-share{
        width: 40px;
    }

    #image-refresh:hover,#image-share:hover{
        opacity: 50%;
    }
  }
  
